{% extends 'pmi/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <table class="centered">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
          <tr>
            <td>{{ product.code }}</td>
            <td>
              <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
            </td> 
            <td>Php&nbsp;{{ product.price }}</td>
            <td>{{ product.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
{% endblock %}

